<h1>Listing kinds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.name %></td>
        <td>
          <%= link_to 'Show', kind %> | 
          <%= link_to 'Edit', edit_kind_path(kind) %> | 
          <%= link_to 'Destroy', kind, method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <%= link_to 'Películas', kind_movies_path(kind) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pager" class="pager">
  <form>
    <%= image_tag "first.png", class: "first" %>
    <%= image_tag "prev.png", class: "prev" %>
    <input type="text" class="pagedisplay"/>
    <%= image_tag "next.png", class: "next" %>
    <%= image_tag "last.png", class: "last" %>
    <select class="pagesize">
      <option value="10">10 por página</option>
      <option value="15">15 por página</option>
      <option value="20">20 por página</option>
    </select>
  </form>
</div>
<br>

<%= link_to 'New Kind', new_kind_path %><br>
<%= link_to 'Lista de Películas', movies_path %>