<p id="notice"><%= notice %></p>

<%= image_tag @movie.image.to_s, style: "max-width: 150px" %>
<br>
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Box:</strong>
  <%= @movie.box %>
</p>

<p>
  <strong>Format:</strong>
  <%= @movie.format %>
</p>

<p>
  <strong>Position:</strong>
  <%= @movie.position %>
</p>

<p>
  <strong>Kinds:</strong>
  <%= @movie.kinds.map{|k| k.name}.join(", ") %>
</p>

<p>
  <strong>Actors:</strong>
  <%= @movie.people.actors.map{|a| a.name}.join(", ") %>
</p>

<p>
  <strong>Directors:</strong>
  <%= @movie.people.directors.map{|d| d.name}.join(", ") %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
